body {
    background: #eee;
    width: 100%;
}

.vis-area {
    background: white;
}

#network {
    border: 1px solid;
}

.table {
    width: 90%;
    margin: auto;
    text-align: center;
}

h3 {
    margin-top: 1em;
    margin-left: 5%;
}

  .tooltip {
      fill: white;
      font-family: sans-serif;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid grey;
  }